title: "The ArchiTrek"
description: "Where technology meets innovation."

theme: minima
markdown: kramdown

plugins:
  - jekyll-feed
  - jekyll-seo-tag

exclude:
  - README.md
  - node_modules
  - vendor
